body{
    margin: 0;
}

.box{
    background-color: yellow;
    border: 1px solid;

}

.vertical{
    display: grid;
    grid-gap: 20px;
    height: 100vh;
    grid-template-columns: 140px;
    grid-template-rows: 140px 140px 140px 140px;
    padding: 20px;
    box-sizing: border-box;
    align-content: space-between;
    justify-content: start;
}

.horisontal{
    grid-template-columns: 140px 140px 140px 140px;
    grid-template-rows: 140px;
    align-content: center;
}

.flex{
    display: flex;
    justify-content: space-between;
}