**/node_modules
**package-lock.json
**/*.jpg# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# Игнорирование папки node_modules (где хранятся зависимости Node.js)
node_modules/

# Игнорирование файлов, связанных с npm (package-lock.json)
package-lock.json

# Игнорирование папки, в которую устанавливаются зависимости при развертывании
# на хостинге (обычно папка "build" или "dist")
build/
dist/

# Игнорирование изображений и других медиафайлов (в зависимости от расширений)
*.jpg
*.jpeg
*.png
*.gif
*.svg
*.ico
__pycache__/
*.pyc
*.pyo
*.pyd

# Local development settings
local_settings.py

# Database
db.sqlite3
db.sqlite3-journal

# Static files
/static/

# Media files
/media/

# Virtual environment
venv/
venv3/
myvenv/
*.pyc
__pycache__/
