body, h1, h2, p {
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

h1{
    font-size: 40px;
}

.input{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.login{
    display: flex;
}

form{
    display: flex;
    flex-direction: column;

    align-items: center;
}

.input{
    width: 50%;
    background-color: #f0f0f0;
    height: 100vh;
    text-align: center;
}

.field{
    width: 340px;
    height: 46px;
    border: none;
    padding: 0 20px;
    background-color: #e1e1e1;
    margin-top: 20px;
    box-sizing: border-box;
}

.rem{
    font-size: 13px;
    margin-left: 5px;
}

.center{
    display: flex;
    align-items: center;
}

.options{
    width: 340px;
    display: flex;
    margin: 15px 0 20px 0;
    justify-content: space-between;
}

.fpas{
    font-size: 12px;
    font-weight: 300;
    color: #000;
    text-decoration: none;
}

.btn{
    background-color: #7505a5;
    color: #fff;
    font-weight: 600;
}

.btn:hover{
    cursor: pointer;
}

.orconnect::before, .orconnect::after{
    content: "";
    display: inline-block;
    width: 93px;
    height: 1px;
    background: #a6a6a6;
    margin: 0 10px 5px 10px;
}

.orconnect{
    margin: 20px 10px;
    font-size: 15px;
    color: #777;
    font-weight: 300;
}

i{
    font-size: 25px;
    margin: 0 10px;
    color: #8f8f8f;
}

i:hover{
    cursor: pointer;
}

.hello{
    width: 50%;
    background: linear-gradient(147deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 48%, rgba(112,0,184,1) 100%);
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #fff;
}

.addf{
    font-size: 100px;
    color: #fff;
    margin-bottom: 30px;
}

.text{
    max-width: 300px;
    text-align: center;
    font-size: 13px;
    margin-bottom: 40px;
    font-weight: 300;
}

.reg{
    color: #fff;
    background-color: rgba(0, 0, 0, 0);
    border: 1px solid#fff;
    border-radius: 40px;
    width: 170px;
    height: 40px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    transition: all 0.2s;
}

.reg:hover{
    background-color: #fff;
    color:#000;
    cursor: pointer;
    transition: all 0.2s;
}

.reg:hover .arrow{
    color: #000;
}

.arrow{
    margin-left: 20px;
    color: #fff;
    font-size: 15px;
    transition: all 0.2s;
}