.back{
    height: 500px;
    width: 500px;
    background: linear-gradient(90deg, transparent 50%, rgb(255 0 0 / 50%) 50%), linear-gradient(0deg, transparent 50%, rgb(255 0 0 /50%) 50%);
    background-color: #ffffff;
    background-size: 50px 50px;
    
}


.back1{
    width: 512px;
    height: 512px;
    background-image: url(grrdd.svg);
    background-size: 128px 128px;
    margin-bottom: 20px;
}

.back2{
    width: 512px;
    height: 512px;
    background-image: url(gridb.svg);
    background-size: 128px 128px;
    margin-bottom: 20px;
}


