*{
    font-family: 'PT Sans', sans-serif;
}

body{
    padding: 50px
}


button {
    width: auto;
    height: auto;
    margin: 1px;
    border: none;
}

.container {
    display: grid;
    grid-template-columns: 70px 70px 70px 70px;
    grid-template-rows: 50px 50px 50px 50px 50px 50px;
}

.equal{
    grid-column: 3 / 5;
}

.reset{
    grid-column: 1 / 3;
    background-color: #007394;
    color: #fff;
}

.clear{
    grid-column: 3 / 5;
    background-color: #b90000;
    color: #fff;
}

button:hover{
    cursor: pointer;

}

button:active{
    border: 1px solid;
}

.field{
    background-color: #c9c9c9;
    height: 100%;
    width: 100%;
    grid-column: 1 / 5;
    font-weight: 700;
    padding: 10px;
    display: flex;
    box-sizing: border-box;
    align-items: center;
}