
:root {
    --font-color: red;
}

.h1{
    color:var(--font-color)
}



.main > div {
    width: 200px;
    height: 150px;
    background-color: aqua;

}

@media (min-width:1024px) and (max-width:1450px) {
    .main > div {
        background-color: hotpink;
    }
}

@media (min-width:768px) and (max-width:1024px){
    .main > div{
        background-color: yellow;
    }
}

@media (max-width:768px) {
    .main > div {
        width: 50%;
    }
}

@media (max-width:450px) {
    .main > div{ 
        width: 100%;
    }
}