<div id='header'>

<div class='menuleft'>
<img class="searchpin" src="/static/pin.svg">
    <input id='searchinpt' type='text'>
    <nav>
            <a href="/search">Rooms</a>
            <a href="/roommates"> Roommates </a>
    </nav>
</div>

<div class='menuright'>
    <a target="_blank" id='messages' class='dfc' href="messenger">
         <img src="/static/messageicn.svg">
         <span style="margin: 0 25px 0 5px;">messages</span>
    </a>

    <a href=""><img src="/static/alerticn.svg"></a>
    <a target="_blank" href="/favorites"> <img src="/static/likeicn.svg"></a>

    <div class="profilehead dfc">
        <span class='profname'>Alexander</span>
        <img class="proficn" src="/static/user_profile.svg">
    </div>

</div>

</div>