body{
    font-family: 'Urbanist', sans-serif;
    background-color:#FAFAFA;
    padding: 60px 0 0 0;
}

.contentBox{
    padding: 40px 50px 100px 50px;
}

#map {
    width: 60%;
    height: 320px;
    border-radius: 8px;
    margin-top: 20px;
    max-width: 700px;
}


h1{
    font-size: 44px;
    font-weight: 500;
}

h3{
    font-size: 20px;
    font-weight: 600;
}

h1, h2, div, input {
    margin: 0px;
    padding: 0px;
}

a{
    color: #121212;
    text-decoration: none;
}

nav a {
    margin: 0 5px;
}


#header{
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 0 50px;
    box-sizing: border-box;
    top: 0;
    position: fixed;
    background-color: #fff;
    border-bottom: 1px solid #F2F2F2;
    height: 60px;
}

.menuleft{
    display: flex;
    align-items: center;
    max-width: 60%;
    width: 60%;
}

.menuright{
    display: flex;
    align-items: center;
    width: 40%;
    justify-content: flex-end;
}

#searchinpt{
    border: 1px solid #E0E0E0;
    width: 60%;
    max-width: 500px;
    height: 42px;
    font-size: 16px;
    border-radius: 8px;
    margin-right: 20px;
    padding-left: 46px;
    box-sizing: border-box;

}

.searchpin{
    position: absolute;
    margin-left: 16px;
    height: 21px;
}

.menuright a{
    margin: 0 5px;
}

.profname{
    font-size: 17px;
    font-weight: 600;
}

.proficn{
    border-radius: 8px;
    margin-left: 10px;
    height: 42px;
}

.profilehead{
    margin-left: 50px;
}

#registration{
    width: 400px;
    margin-top: 30px;
}

#login{
    width: 350px;
    margin-top: 30px;
}


#auth{
    height: 100vh;
    display: flex;
    padding: 30px;
    width: 100%;
    box-sizing: border-box;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
}

#authImg{
    background-image: url('/static/room11.jpg');
    background-position: center;
    height: calc(100vh - 60px);
    max-width: 50%;
    width: 50%;
    min-width: 400px;
    border-radius: 22px;
}

.input_auth {
    border-radius: 8px;
    border: 1px solid #E3E3E3;
    padding-left: 15px;
    font-size: 13px;
    font-weight: 300;
    width: 100%;
    height: 50px;
    margin-top: 12px;
    box-sizing: border-box;
}


#authInput{
    display: flex;
    flex-direction: column;
    max-width: 50%;
    width: 50%;
    align-items: center;
    align-content: center;
    justify-content: center;
    min-width: 400px;
    
}

.twoinpt{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

#loading{
        background-image: url('/static/circle-loader.gif');
        height: 50px;
        margin-bottom: -30px;
        width: 50px;
        background-size: cover;
        margin-left: calc(50% - 25px);
        display: none;
}

.regbtn{
    width: 100%;
    height: 50px;
    margin-top: 40px;
    border-radius: 8px;
    border: none;
    background-color: #FE662F;
    color: #fff;
    text-transform: uppercase;
    font-size: 12px;
    letter-spacing: 1px;
    transition: .2s;
}

.regbtn:hover{
    background-color: #B93100;
    cursor: pointer;
    transition: .2s;
}

#reg_error{
    display: none;
    height: 50px;
    background-color: #FDF3F3;
    border-radius: 8px;
    margin-top: 10px;
    align-items: center;
    font-size: 14px;
    padding-left: 20px;
    color: #EC3F3F;
}

.already{
    color: #585858;
    font-weight: 300;
    font-size: 14px;
    margin-top: 60px;
}


.link_black{
    color: #303030;
    font-weight: 600;
    text-decoration: none;
    transition: .2s;
}
.link_black:hover{
    text-decoration: underline;
    transition: .2s;
}

.regInput{
    margin-bottom: 15px;
    height: 50px;
    border-radius: 8px;
    border: 1px solid #E3E3E3;
    padding: 0 20px;
    box-sizing: border-box;
    font-size: 15px;
}

#pacinput {
    max-width: 700px;
}

.pac-container{
    border-radius: 8px;
}

.hdpi .pac-icon {
    display: none;
}

.hdpi.pac-logo:after{
    display: none;
}

.pac-item{
    height: 40px;
    font-size: 16px !important;
    padding: 8px 20px 0 20px !important;
}

.pac-item:hover{
    cursor: pointer;
}




#regNav{
    display: flex;
    position: fixed;
    bottom: 0;
    height: 80px;
    width: 100%;
    background-color: #fff;
    padding: 0 50px;
    box-sizing: border-box;
    justify-content: space-between;
    align-items: center;
}

#showprev{
    height: 50px;
    width: 100px;
    border: none;
    background-color: #F4F4F4;
    border-radius: 6px;
    text-transform: uppercase;
    font-size: 12px;
    color: #404040;
    transition: .2s;
}

#previewImage{
    width: 120px;
    height: 120px;
    border-radius: 21px;
    object-fit: cover;
}



#showprev:hover{
    background-color:#dddddd;
    cursor: pointer;
    transition: .2s;
}


#shownext{
    background-color: #FE662F;
    height: 50px;
    width: 100px;
    border: none;
    border-radius: 6px;
    font-size: 13px;
    color: #fff;
    text-transform: uppercase;
    transition: .2s;

}

#shownext:hover{
    background-color:#B93100;
    cursor: pointer;
    transition: .2s;
}



#section1, #section4{
    flex-direction: column;
}
#section2, #section3{
    flex-direction: column;
    max-width: 300px;
}

#section2, #section3, #section4{
    display: none;
}



.descarea{
    padding: 10px 20px;
    font-size: 15px;
    height: 80px;
    font-family: urbanist;
}



/* Стили для чекбокса */
.checkbox-button {
    display: inline-block;
    position: relative;
    cursor: pointer;
}

.checkbox-button input {
    display: none; /* Скрываем стандартный чекбокс */
}

.checkmark {
    display: inline-block;
    width: auto;
    background-color: #EDEDED;
    padding: 12px 16px;
    border-radius: 8px;
    margin: 4px 4px 4px 0;
    color: #313131;
    font-size: 14px;
    transition: background-color 0.3s;
}

.checkbox-button input:checked + .checkmark {
    background-color: #393939;
    color: #fff;
}

.lbl{
    color: #424242;
    font-weight: 400;
    margin: 20px 0 10px 0;
}





.wp60{
    width: 60%;
}

.wp40{
    width: 40%;
}

.mr8{
    margin-right: 8px;
}

.mt60{
    margin-top: 60px;
}

.df{
    display: flex;
}

.dfc{
    display: flex;
    align-items: center;
}

.ff {
    font-family: 'Urbanist', sans-serif;
}




