body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.chart {
  display: flex;
  height: 100%;
  background-color: #e6e6e6;
  justify-content: center;
}

.chartblock {
  background-color: #244638;
  width: 100px;
}

.chartitem {
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  margin: 0 20px;
}

.num{
  font-size: 13px;
}